<div class="sidebar">
    <div class="sidebar-inner">
        <header class="sidebar-header">
            <h3 class="clearfix">
                分类
                <span class="pull-right trigger-close" id="trigger-close">x</span>
            </h3>
        </header>
        <div class="sec">
            <div class="sec-heading clearfix">
                插件
            </div>
            <div class="sec-body clearfix">
                <a href="/tags/popup">弹出框</a>
                <a href="/tags/tooltip">提示栏</a>
                <a href="/tags/dropdown">下拉框</a>
                <a href="/tags/slidershow">图集</a>
                <a href="/tags/calendar">日历</a>
                <a href="/tags/upload">上传</a>
                <a href="/tags/menu">菜单</a>
                <a href="/tags/editor">编辑器</a>
                <a href="/tags/form">表单</a>
                <a href="/tags/table">表格</a>
                <a href="/tags/chart">图表</a>
                <a href="/tags/animation">动画/效果</a>
                <a href="/tags/map">地图</a>
                <a href="/tags/chat">聊天</a>
                <a href="/tags/scroll">滚动相关</a>
            </div>
        </div>
        <div class="sec">
            <div class="sec-heading clearfix">
                设计
            </div>
            <div class="sec-body clearfix">
                <a href="/tags/font">字体</a>
                <a href="/tags/icon">图标</a>
                <a href="/tags/template">模板</a>
                <a href="/tags/schema">配色</a>
                <a href="/tags/button">按钮</a>
                <a href="/tags/ps">PS</a>
            </div>
        </div>
        <div class="sec">
            <div class="sec-heading clearfix">
                服务
                <!-- <i class="fa fa-fw fa-angle-right"></i> -->
            </div>
            <div class="sec-body clearfix">
                <a href="">短信</a>
                <a href="">邮件</a>
                <a href="">数据存储</a>
            </div>
        </div>
        <div class="sec">
            <div class="sec-heading clearfix">
                其他
                
            </div>
            <div class="sec-body clearfix">
                <a href="">工具</a>
                <a href="">音频</a>
                <a href="">视频</a>
            </div>
        </div>
        <div>
            <div class="op" style="margin-top:20px;">
                <div class="op-heading">
                    <a href="" style="font-size:18px;">邮件订阅</a>
                </div>
                <div class="op-body">
                    <input type="text" placeholder="例如：example@qq.com">
                </div> 
            </div>
            <div class="op" style="margin-top:20px;">
                <div class="op-heading">
                    <a href="" style="font-size:18px;">微博/公众号</a>
                </div>
                <div class="op-body">
                    <div style="padding: 10px 12px 10px 23px;background-color:#fff;"> webfaners</div>
                </div> 
            </div>
            <div class="op" style="margin-top:20px;">
                <div class="op-heading">
                    <a href="" style="font-size:18px;">QQ交流群</a>
                </div>
                <div class="op-body">
                    <div style="padding: 10px 12px 10px 23px;background-color:#fff;">420225571</div>
                </div> 
            </div>
        </div>
    </div>
        
        
</div>

    <!--<div class="sec">
        <div class="sec-heading clearfix">
            框架
            <i class="fa fa-fw fa-angle-right"></i>
        </div>
        <div class="sec-body clearfix">
            <a href="">ANGULARJS</a>
            <a href="">EMBER.JS</a>
            <a href="">REACT.JS</a>
        </div>
    </div> -->

    <!-- <div class="sec subscribe">
        <div class="sec-heading clearfix">
            推荐资源
            <i class="fa fa-fw fa-angle-right"></i>
        </div>
    </div> -->
