
<%- partial('sidebar') %>
<div class="col-md-9 settings" id='content' >
  <div class="panel panel-default">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body">
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } else { %>
      <form id='signin_form' class='form-horizontal' action='/reset_pass' method='post'>
        <div class='form-group'>
          <div class="col-md-2 text-right">
            <label for='psw'>新密码 :</label>
          </div>
          <div class='col-md-5'>
            <input class='form-control' id='psw' name='psw' size='30' type='password' />
          </div>
        </div>
        <div class='form-group'>
          <div class="col-md-2 text-right">
            <label for='repsw'>确认密码 :</label>
          </div>
          <div class='col-md-5'>
            <input class='form-control' id='repsw' name='repsw' size='30' type='password' />
          </div>
        </div>
        
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>
        <input type='hidden' name='name' id='name' value='<%= name%>'>
        <input type='hidden' name='key' id='key' value='<%= key%>'>

        <div class='form-actions'>
          <input type='submit' class='btn' value='确定'/>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>