<div class="col-md-8">
	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">用户：Joeylin</h3>
      </div>
      <div class="panel-body">
        <div>邮箱：331547274@qq.com</div>
        <div>github：joeylin</div>
        <div>weibo：joeylin</div>
        <div>推荐资源：100</div>
      </div>
    </div>
    <div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">用户：Joeylin</h3>
		</div>
		<div class="panel-body">
			<div>邮箱：331547274@qq.com</div>
			<div>github：joeylin</div>
			<div>weibo：joeylin</div>
			<div>推荐资源：100</div>
		</div>
    </div>
</div>
<div class="col-md-4">
	<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">用户：Joeylin</h3>
      </div>
      <div class="panel-body">
        <div>邮箱：331547274@qq.com</div>
        <div>github：joeylin</div>
        <div>weibo：joeylin</div>
        <div>推荐资源：100</div>
      </div>
    </div>
</div>