<div class="col-md-3">
	<div class="list-group">
	  <a href="/topic/create" class="list-group-item active">
	    添加资源
	  </a>
	  <a href="/profile/checked" class="list-group-item">已审核</a>
	  <a href="/profile/unchecked" class="list-group-item">待审核</a>
	  <a href="/profile/checkfail" class="list-group-item">审核失败</a>
	  <a href="/profile/draft" class="list-group-item">我的草稿</a>
	  <a href="/profile/collect" class="list-group-item">我的收藏</a>
	  <a href="/setting" class="list-group-item">修改资料</a>
	  <a href="/setting/password" class="list-group-item">修改密码</a>
	  <a href="/admin" class="list-group-item">网站后台</a>
	</div>
</div>