<div class="panel panel-default">
  <div class="panel-heading">用户管理</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>用户名</th>
          <th>注册时间</th>
          <th>等级</th>
          <th>操作</th>
        </tr>
      </thead>     
      <tbody>
        <tr ng-repeat="user in content | pushAdmin">
            <td>{{user.name}}</td>
            <td>{{user.create_at | formatDate:true }}</td>
            <td>{{user.is_admin ? '管理员': '普通用户' }}</td>
            <td ng-if="global.user.is_superadmin && !user.is_admin">
              <a class="btn btn-xs btn-primary" ng-click="setAdmin(user, 1)">设置为管理员</a>
            </td>
            <td ng-if="global.user.is_superadmin && user.is_admin">
              <button class="btn btn-xs btn-danger" ng-click="setAdmin(user, 0)">取消管理员</button>
            </td>
            <td ng-if="!global.user.is_superadmin">
              -
            </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li ng-class="{disabled: pager.current <= 1}" ng-click="prev()"><a href>下一页</a></li>
      <li><a href>{{pager.current}}</a></li>
      <li ng-class="{disabled: pager.current >= pager.total}" ng-click="next()"><a href>上一页</a></li>
    </ul>
  </div>
</div>